# Visual Studio
.vs/
*.user
*.suo

# Build ve output klasörleri
bin/
obj/

# Diğer
*.log
/PhoneBookApp/.vs
/PhoneBookApp/Shared/Shared.BaseResponses/obj/Debug
/PhoneBookApp/Shared/Shared.BaseResponses/obj
/PhoneBookApp/Shared/Shared.DTOs/obj
/PhoneBookApp/Shared/Shared.DTOs/obj/Debug
/PhoneBookApp/Shared/Shared.Events/obj
/PhoneBookApp/Shared/Shared.Events/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.API/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.API/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Application/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Application/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Domain/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Domain/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Infrastructure/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Infrastructure/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Infrastructure/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Worker/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Worker/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.API/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.API/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.API/obj
/PhoneBookApp/Src/Services/ReportService/ReportService.Application/obj
/PhoneBookApp/Src/Services/ReportService/ReportService.Application/obj/Debug
/PhoneBookApp/Tests/ReportService.Test/obj
/PhoneBookApp/Tests/ReportService.Test/obj/Debug
/PhoneBookApp/Tests/ContractService.Test/obj
/PhoneBookApp/Tests/ContractService.Test/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.Worker/obj
/PhoneBookApp/Src/Services/ReportService/ReportService.Worker/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.Infrastructure/obj
/PhoneBookApp/Src/Services/ReportService/ReportService.Infrastructure/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.Domain/obj
/PhoneBookApp/Src/Services/ReportService/ReportService.Domain/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.Application/obj
/PhoneBookApp/Src/Services/ReportService/ReportService.Application/obj/Debug
/PhoneBookApp/Src/Services/ReportService/ReportService.API/obj
/PhoneBookApp/Src/Services/ReportService/ReportService.API/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Worker/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Worker/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Infrastructure/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Infrastructure/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Domain/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Domain/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.Application/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Application/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.Application/obj/Debug
/PhoneBookApp/Src/Services/ContractService/ContractService.API/obj
/PhoneBookApp/Src/Services/ContractService/ContractService.API/obj/Debug
/PhoneBookApp/Shared/Shared.Events/obj
/PhoneBookApp/Shared/Shared.Events/obj/Debug
/PhoneBookApp/Shared/Shared.DTOs/obj
/PhoneBookApp/Shared/Shared.DTOs/obj/Debug
/PhoneBookApp/Shared/Shared.BaseResponses/obj
/PhoneBookApp/Shared/Shared.BaseResponses/obj/Debug
/PhoneBookApp/.vs
