## Visual Studio
.vs/
*.user
*.suo

## Build Output
bin/
obj/
Debug/
Release/

## Rider IDE
.idea/

## Test Results
TestResults/
*.trx

## NuGet Packages
*.nupkg
packages/
*.snupkg

## User Specific Files
*.userprefs
*.csproj.user
*.sln.docstates

## OS Files
Thumbs.db
Desktop.ini

## Logs
*.log

## CSV / Excel / Temp files (manual)
*.csv
*.xls
*.xlsx
*.tmp

## Docker
docker-compose.override.yml
docker-compose.override.*

## Others
*.dbmdl
*.bak
*.sql
